body {
    margin: 0;
}

header {
    width: 100%;
    height: fit-content;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    /* position: sticky;
    position: -webkit-sticky;
    top: 0; */
    z-index: 100;
}

h1 {
    color: black;
    font-family: "Inter var", Arial, Helvetica, sans-serif;
    font-size: 48px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.shield {
    margin-left: 1px;
    margin-right: 1px;
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    table-layout: fixed;
}

.card-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 255px;
}

.card {
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.125);
    width: 100%;
    height: 100%;
    box-shadow: 2.5px 2.5px 5px #CCC;
    border-radius: 10px;
    object-fit: scale-down;
    transition: box-shadow 0.25s, width 0.25s, height 0.25s, background-color 0.25s;
    position: relative;
    overflow: hidden;
}

.card-container:hover > .card {
    background-color: #EEE;
    width: 105%;
    height: 105%;
    box-shadow: 5px 5px 10px #CCC;
    transition: box-shadow 0.25s, width 0.25s, height 0.25s, background-color 0.25s;
}

.card-container:active > .card {
    background-color: #EEE;
    width: 95%;
    height: 95%;
    box-shadow: 1px 1px 2px #CCC;
    transition: box-shadow 0.1s, width 0.1s, height 0.1s, background-color 0.1s;
}

.card-bg-img {
    width: 100%;
    height: 100%;
    filter: blur(10px);
    object-fit: cover;
    background-color: #333;
}

.tint {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000000;
}

.proj-title {
    position: absolute;
    user-select: none;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    font-family: "Inter Var", Arial, Helvetica, sans-serif;
    font-size: 25;
    transition: top 0.25s, transform 0.25s;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    background-color: #33333344;
}

.card-container:hover > .proj-title {
    top: 10%;
    transform: translateY(-10%);
    transition: top 0.25s, transform 0.25s;
}

.proj-description {
    position: absolute;
    user-select: none;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    font-family: "Inter var", Arial, Helvetica, sans-serif;
    font-size: 15;
    opacity: 0;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    background-color: #33333344;
}

.card-container:hover > .proj-description {
    opacity: 100%;
    transition: opacity 0.25s;
}

@media (pointer:coarse) {

    .proj-title {
        top: 10%;
        transform: translateY(-10%);
    }

    .proj-description {
        opacity: 100%;
        transition: opacity 0.25s;
    }
}

@media only screen and (max-width: 768px) {
    header {
        padding-top: 25px;
        padding-bottom: 25px;
        margin-bottom: 5px;
    }

    .main {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (prefers-color-scheme: dark) {

    body {
        background-color: #1F2223;
    }

    h1 {
        color: white;
    }

    .card {
        background-color: #333;
        border-color: rgba(0, 0, 0, 0.125);
        box-shadow: 2.5px 2.5px 5px black;
        background-blend-mode: multiply;
    }

    .tint {
        background-color: #00000055;
    }

    .card-container:active > .card {
        background-color: #444;
        box-shadow: 1px 1px 2px black;
    }

    .card-container:hover > .card {
        background-color: #444;
        box-shadow: 5px 5px 10px black;
    }

}
