.header {
    background-color: cyan;
    width: 100%;
    height: fit-content;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    margin-bottom: 10px;
}

.title {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
    grid-template-rows: repeat(auto-fit, 255px);
    gap: 15px;
    padding-left: 20px;
    padding-right: 20px;
    table-layout: fixed;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max(305px, 1fr);
    height: 255px;
}

.card {
    width: 300px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #CCC;
    transition: box-shadow 0.5s, width 0.5s, height 0.5s;
}

.card:hover {
    width: 305px;
    height: 255px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #CCC;
    transition: box-shadow 0.5s, width 0.5s, height 0.5s;
    position: fixed;
}

.card:active {
    width: 295px;
    height: 245px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #CCC;
    transition: box-shadow 0.1s, width 0.1s, height 0.1s;
    position: fixed;
}

@media only screen and (max-width: 768px) {
    .header {
        padding-top: 25px;
        padding-bottom: 25px;
        margin-bottom: 5px;
    }
}
