@import '$lib/fonts/Inter Web/inter.css';

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.no-shrink {
	flex-shrink: 0;
}

.flex-root {
	/*background-color: #FF94A4;*/
	display: flex;
	align-items: stretch;
	justify-content: top;
	flex-direction: column;
}

.page-size {
	height: 100%;
}

h1 {
	font-family: "InterDisplay";
	font-size: 48px;
}

.header-background {
	text-align: center;
}